.thumbnail img{
    display: block;
    height: 90px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.thumbnail p {
  text-align: center;
  font-size: 14px;
}
.timeline a{

}
.timeline p{
  font-size: 13px;
  margin: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #eee;
  line-height: normal;
}
